In [2]:
#Task 1. Реалізуйте декоратор type_check, який перевіряє відповідність типів аргументів функції заданим типам і викидає виняток, якщо типи не збігаються.
def type_check(func):
    def wrapper(*args, **kwargs):
        func_ = func.__annotations__
        for i, arg in enumerate(args):
            if func_ and func_.get(list(func_.keys())[i], None) and not isinstance(arg, func_[list(func_.keys())[i]]):
                return TypeError(f"Argument '{list(func_.keys())[i]}' has invalid type: {type(arg).__name__}") #or raise TypeError
        return func(*args, **kwargs)
    return wrapper

In [3]:
@type_check
def example_function(num: int, text: str, my_list: list, my_dict: dict):
    print(f"Received: {num}, {text}, {my_list}, {my_dict}")

num=23
text='45'
my_list=[23]
my_dict=(23, 24)

example_function(num, text, my_list, my_dict)

TypeError("Argument 'my_dict' has invalid type: tuple")

In [ ]:
#Task 2. Реалізуйте декоратор delay, який затримує виконання функції на вказану кількість секунд. 
#Функція повинна на заданий час давати shutdown, також повинна бути перевірка на статус код та try/except для перевірки connection

In [4]:
import sqlite3
from faker import Faker
from datetime import datetime

In [ ]:
#SQL - tasks
# Task 1. create table Person, with id: int, primary key, name: text, surname: text,
#date_of_birth date 
# Connect with BD 


# create a connection to the database
conn = sqlite3.connect('example.db')

print(conn)
# create a table
conn.execute('''CREATE TABLE IF NOT EXISTS
             persons (id INTEGER PRIMARY KEY, name TEXT, surname TEXT, date_of_birth DATE)''')

# commit the changes
conn.commit()

# close the connection
conn.close()

In [ ]:
# Task 2. Заповнити таблицю Person 15 кортежі, *use - faker, *use - context manager


conn = sqlite3.connect('example.db')
fake = Faker()
Faker.seed(42)

with sqlite3.connect('example.db') as conn:
    conn.execute('''CREATE TABLE IF NOT EXISTS persons (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    surname TEXT,
                    date_of_birth DATE)
                ''')

    for i in range(1, 16):
        name = fake.first_name()
        surname = fake.last_name()
        date_of_birth = fake.date_of_birth(maximum_age=65, minimum_age=20) #indicated max and min age in order to avoid huge difference in randomly generated time data
        conn.execute("INSERT INTO persons (id, name, surname, date_of_birth) VALUES (?, ?, ?, ?)",
                     (i, name, surname, date_of_birth))

    conn.commit()

In [5]:
# check on inserted data
with sqlite3.connect('example.db') as conn:
    
    cursor = conn.cursor()
    cursor.execute("SELECT  * FROM Persons")
    rows = cursor.fetchall()

    # print the data
    for row in rows:
        print(row)

(1, 'Danielle', 'Johnson', '1976-08-09')
(2, 'John', 'Taylor', '1964-11-12')
(3, 'Erica', 'Mcclain', '1963-10-22')
(4, 'Brittany', 'Johnson', '1964-04-07')
(5, 'Jeffery', 'Wagner', '1959-09-12')
(6, 'Anna', 'Baldwin', '1994-12-22')
(7, 'Robert', 'Cole', '1976-10-27')
(8, 'Lisa', 'Smith', '1968-10-03')
(9, 'Helen', 'Peterson', '1968-06-21')
(10, 'Jason', 'Gallagher', '1964-11-05')
(11, 'Christopher', 'Davis', '1981-04-19')
(12, 'Cassandra', 'Roman', '1989-02-26')
(13, 'Amanda', 'Dudley', '1983-08-26')
(14, 'Christian', 'Carter', '2000-09-01')
(15, 'Christine', 'Hensley', '1997-03-07')

In [6]:
# Task 3. Знайти всіх людей у кого день народження 19-03-1998 або 12-10-1998
with sqlite3.connect('example.db') as conn:
    
    cursor = conn.cursor()
    cursor.execute("SELECT  * FROM Persons WHERE date_of_birth IN ('1998-03-19', '1998-10-12')" )
    rows = cursor.fetchall()

    if not rows:
        print ('There are no records matching your request in the table')
    else:
        for row in rows:
            print(row)

There are no records matching your request in the table

In [7]:
# Task 4. Знайте найстарших людей в наборі(топ 5)
with sqlite3.connect('example.db') as conn:
    
    cursor = conn.cursor()
    cursor.execute("SELECT  * FROM Persons ORDER BY date_of_birth LIMIT 5")
    rows = cursor.fetchall()

    # print the data
    for row in rows:
        print(row)

# or:
with sqlite3.connect('example.db') as conn:
    
    cursor = conn.cursor()
    cursor.execute("SELECT  * FROM Persons ORDER BY date_of_birth")
    rows = cursor.fetchmany(5)

    # print the data
    for row in rows:
        print(row)

(5, 'Jeffery', 'Wagner', '1959-09-12')
(3, 'Erica', 'Mcclain', '1963-10-22')
(4, 'Brittany', 'Johnson', '1964-04-07')
(10, 'Jason', 'Gallagher', '1964-11-05')
(2, 'John', 'Taylor', '1964-11-12')
(5, 'Jeffery', 'Wagner', '1959-09-12')
(3, 'Erica', 'Mcclain', '1963-10-22')
(4, 'Brittany', 'Johnson', '1964-04-07')
(10, 'Jason', 'Gallagher', '1964-11-05')
(2, 'John', 'Taylor', '1964-11-12')

In [8]:
# Task 5. Вивезти всіх у кого name більше surname 
with sqlite3.connect('example.db') as conn:
    
    cursor = conn.cursor()
    cursor.execute("SELECT  * FROM Persons WHERE LENGTH(name) > LENGTH(surname)")
    rows = cursor.fetchall()

    # print the data
    for row in rows:
        print(row)

(1, 'Danielle', 'Johnson', '1976-08-09')
(4, 'Brittany', 'Johnson', '1964-04-07')
(5, 'Jeffery', 'Wagner', '1959-09-12')
(7, 'Robert', 'Cole', '1976-10-27')
(11, 'Christopher', 'Davis', '1981-04-19')
(12, 'Cassandra', 'Roman', '1989-02-26')
(14, 'Christian', 'Carter', '2000-09-01')
(15, 'Christine', 'Hensley', '1997-03-07')